html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background: white;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: chartreuse;
}
::selection {
  background-color: magenta;
  color: chartreuse;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 20px 20px;
}
a {
  text-decoration: none;
}
.about-hero {
  /* background: linear-gradient(90deg, hotpink, rebeccapurple); */
  background:
  -webkit-gradient(linear, 95% 5%, 95% 100%, from(#cc6699), to(#000000)),
  -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  background-blend-mode: difference;
  mix-blend-mode: difference;
  height: 100vh;
  padding-top: 20px;
}
.about-hero p {
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  font-style: italic;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.about-header {
  top: 0;
  z-index: 9;
  position: fixed;
  width: 100%;
  height: auto;
}
.about-header-wrapper {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: auto;
}
.wrapper-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.wrapper-logo img {
  width: 30px;
}
.wrapper-logo p {
  color: black;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
  padding-left: 20px;
}
.about-herox {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.about-heroxxx {
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 20px 20px;
}
footer {
  background: yellowgreen;
}