html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #D9AFD9;
}
::selection {
  background-color: #97D9E1;
  color: #D9AFD9;
}
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 20px 20px;
}
a {
  text-decoration: none;
}
.about-header {
  top: 0;
  z-index: 9;
  position: fixed;
  width: 100%;
  height: auto;
}
.about-header-wrapper {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: auto;
}
.wrapper-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.wrapper-logo img { 
  width: 30px;
}
.wrapper-logo p {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  background-color: #D9AFD9;
  background-image: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -99;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  mix-blend-mode: multiply;
}
footer img {
  width: 200px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0;
}
canvas {
	display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
	left: 0;
}
#myContainer {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}
.about-hero {
  height: 100vh;
  background-color: #000;
  /* background-color: #D9AFD9;
  background-image: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  z-index: -99;
}
.about-hero .title-about {
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  line-height: 35px;
  padding: 20px 20px;
  top: -60px;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}
.about-hero .text-about {
  font-family: 'Source Serif Pro', serif;
  font-weight: normal;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  position: fixed;
  z-index: -9;
  left: 0;
  right: 0;
  line-height: 20px;
  padding: 20px 20px;
  max-width: 980px;
  margin: 0 auto;
}
.products,
.clients {
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
  font-size: 16px;
  padding: 100px 0;
  background: #000;
}
.products a {
  color: #fff;
}
.products a:hover {
  background: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
.form-wrapper {
  padding: 100px 0 50px;
  background: #000;
}
.title {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  font-size: 50px;
  line-height: 40px;
  font-weight: bolder;
  color: #fff;
}
.text {
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  width: 100%;
  font-size: 20px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 20px;
  color: #fff;
}
.text-slide-products {
  text-align: center;
  padding-top: 20px;
}
.carousel {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.swiper-container,
.swiper-clients {
  width: 100%;
  height: 100%;
}
.swiper-products .swiper-slide {
  height: 100%;
}
.swiper-products .swiper-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.swiper-clients .swiper-slide {
  height: 100%;
}
.swiper-clients .swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.swiper-button-next, 
.swiper-button-prev {
  /* background: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; */
  color: #D9AFD9 !important;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 50px;
}
form input, form textarea, form select {
  width: 100%;
  padding: 12px;
  border: 2px solid #D9AFD9;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Rubik', sans-serif;
  background: #fff;
  color: #000;
}
form label {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
form button[type=submit] {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
form button[type=submit]:hover {
  background-color: #b38cb3;
  background-image: linear-gradient(0deg, #b38cb3 0%, #7ab7be 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.copyright {
  font-size: 10px;
  font-family: 'Source Serif Pro', serif;
  color: gray;
  padding-top: 20px;
  text-align: center;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}
@media (max-width: 768px) {
  .footer-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
  }
  .infos {
    width: 100%;
    padding-bottom: 30px;
  }
  .infos:last-child {
    padding-bottom: 0;
  }
  .about-hero .title-about {
    top: -70px;
  }
  .about-hero .text-about {
    bottom: -80px;
  }
  .swiper-products .swiper-slide img {
    width: 100%;
    height: 300px;
  }
}
